/* Start var  */
:root {
    --main-col: #4d2305;
    --scondry-col: rgb(217, 134, 0);
    --a-font: 18px;
}

/* End var  */
/* GLOBAL RULES START */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(147, 114, 88, 0.749);
    font-family: 'Open Sans', sans-serif;

    height: 600vh;
}

.container {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    mix-blend-mode: overlay;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* GLOBAL RULES END */

/* header start */

header nav li {
    padding: 0 10px;
    border: #4d230500 1px solid;
}

header nav li a {
    display: block;
    color: var(--main-col);
    transition: .3s ease-out;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding: 40px 0px;
    perspective-origin: right;

}

header nav ul li:nth-child(1) {
    background: rgba(255, 255, 255, 0.679);
    border: #4d2305 1px solid;
    border-radius: 5px;
}

header nav ul li:nth-child(1) ::after {
    content: "";
    width: 0%;
    height: 7px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--scondry-col);
    bottom: 0px;
    left: 0;
    animation: bord .3s cubic-bezier(0.82, -0.01, 0.78, 1.69)forwards;


}

header nav li:hover a::after {
    content: "";
    width: 0%;
    height: 7px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--scondry-col);
    bottom: 0px;
    left: 0;
    animation: bord .3s cubic-bezier(0.82, -0.01, 0.78, 1.69)forwards;
    z-index: 1;

}


@keyframes bord {
    100% {
        width: 100%;
    }

}


header nav li:hover {
    color: var(--scondry-col);
    background: rgba(255, 255, 255, 0.679);
    border-radius: 6px;
    border: #4d2305 1px solid;
}

.active a,
header nav li a:hover {
    color: var(--scondry-col);

    border-radius: 6px;

}



header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 4px rgb(255, 255, 255) solid;
    min-height: 120px;
    padding: 0 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 3px 8px rgba(86, 36, 0, 0.488);
}

header .container::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 40px);
    background-color: var(--main-col);
    left: 20px;
    bottom: 0;
    z-index: -1;
}

header .container nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

}

header .container ul {
    display: flex;
}

.togle-icon {
    padding: 0 14px;
    color: var(--main-col);
}

@media (min-width:768px) {

    .togle-icon {
        display: none;
    }
}

@media (max-width:767px) {
    header .container ul {
        display: none;
    }

}

header nav .form {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: 2px solid var(--main-col);
}

header nav .form .icon-search {
    color: var(--main-col);
}

/* header End */



/* media very small  *********************************/
@media (min-width:375px) {
    .container {
        min-width: 320px;
        max-width: 95%;
    }
}

/* media small  min 768 ******************************************/
@media (min-width:768px) {
    .container {
        width: 750px;
    }

    nav ul li a {
        font-size: var(--a-font);
    }
}

/* media medium  min 992 ******************************************/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* media larege  min 1200 ******************************************/
@media (min-width:1200px) {
    .container {
        width: 80%;
    }
}
