/* Start var  */
:root {
    --main-col: #4d2305;
    --scondry-col: #d98600;
    --hov-col: rgba(251, 220, 176, 0.52);
    --section-margin: 30px;
    --a-font: 15px;
    --logo-size: 100px;
}

/* End var  */
/* GLOBAL RULES START */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    /* background-color: rgba(80, 41, 12, 0.749); */
    font-family: 'Open Sans', sans-serif;
    height: 300vh;
}

.container {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    background-position: center;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* GLOBAL RULES END */
/* header start ************************************/
header {
    position: sticky;
    top: 0;
    z-index: 2;
}


header .container ul hr {
    background: var(--main-col);
    width: 80%;
    height: 2px;
    margin-top: 0px;
}

header .container ul hr:last-child {
    margin-bottom: 20px;
}


header .container .logo img {
    width: var(--logo-size);
}

header nav li {
    padding: 0 10px;
    margin: 5px 2px 0px;
    border: #4d230500 1px solid;
}

header nav li a {
    display: block;
    color: var(--main-col);
    transition: .3s ease-out;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding: 40px 0px;
    perspective-origin: right;

}

header nav ul li:nth-child(1) {
    background: var(--hov-col);
    border: #4d2305 1px solid;
    border-bottom-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header nav ul li:nth-child(1) ::after {
    content: "";
    width: 0%;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--scondry-col);
    bottom: -1px;
    left: 0;
    animation: bord .3s cubic-bezier(0.82, -0.01, 0.78, 1.69)forwards;


}

header nav li:hover a::after {
    content: "";
    width: 0%;
    height: 7px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--scondry-col);
    bottom: -1px;
    left: 0;
    box-shadow: inset 0px -2px 3px var(--main-col);
    animation: bord .3s cubic-bezier(0.82, -0.01, 0.78, 1.69)forwards;
}

@keyframes bord {
    100% {
        width: 100%;
    }

}


header nav li:hover {
    color: var(--scondry-col);
    background: var(--hov-col);
    border-radius: 6px;
    border: #4d2305 1px solid;
    border-bottom-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header nav li a::before {
    content: "";
    width: 30px;
    border: solid 4px transparent;
    border-top-color: var(--scondry-col);
    border-right-color: var(--scondry-col);
    right: -30px;
    transform: rotate(45deg);
    top: 7px;
    position: absolute;
    border-radius: 50%;
    height: 30px;
    display: none;
}

@media (min-width:768px) {

    header nav li:nth-child(odd) a::before {
        content: "";
        width: 30px;
        border: solid 4px transparent;
        border-top-color: var(--scondry-col);
        border-right-color: var(--scondry-col);
        left: -30px;
        transform: rotate(-135deg);
        height: 30px;
        z-index: 1;
    }

    header nav li:nth-child(3) a::before {
        content: "";
        width: 30px;
        position: absolute;
        border: solid 4px transparent;
        border-top-color: var(--scondry-col);
        border-right-color: var(--scondry-col);
        left: calc(100% - 8px);
        transform: rotate(45deg);
        height: 30px;
    }
}

header nav li:first-child a::before {
    display: block;
}

header nav li:hover a::before {
    display: block;
}

.active a,
header nav li a:hover {
    color: var(--scondry-col);

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 4px rgb(255, 255, 255) solid;
    min-height: 120px;
    padding: 0 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 3px 8px rgba(86, 36, 0, 0.488);

}

header .container::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 40px);
    background-color: var(--main-col);
    left: 20px;
    bottom: -2px;
    z-index: 2;
}

header .container nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

}

header .container ul {
    display: flex;
}

.togle-icon {
    padding: 0 14px;
    color: var(--main-col);
}

@media (min-width:768px) {

    .togle-icon {
        display: none;
    }
}

@media (max-width:767px) {
    header .container ul {
        display: none;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
    }


    nav .togle-icon:hover+ul {
        display: flex;
        flex-flow: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 100%;
        width: 94%;
    }

    nav ul li a {
        padding: 15px;
    }

    header nav li a::before,
    header nav li a::before {
        content: "";
        border: solid 4px transparent;
        border-top-color: var(--scondry-col);
        border-right-color: var(--scondry-col);
        right: -23px;
        transform: rotate(-313deg);
        width: 20px;
        height: 25px;
        top: 10px;
        display: block;
    }

    header nav li a::after {
        content: "";
        height: 7px;
        border-radius: 10px;
        position: absolute;
        background-color: var(--scondry-col);
        bottom: -1px;
        left: 0;
        box-shadow: inset 0px -2px 3px var(--main-col);
        animation: bord .3s cubic-bezier(0.82, -0.01, 0.78, 1.69)forwards;
    }

    header nav li {
        color: var(--scondry-col);
        background: var(--hov-col);
        border-radius: 6px;
        border: #4d2305 1px solid;
        border-bottom-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}


header nav .form {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-left: 2px solid var(--main-col);
    margin-left: 10px;
}

header nav .form .icon-search {
    color: var(--main-col);
}

/* header End **************************************/
/* Landing start ************************************/
.landing {
    color: bisque;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0px;
    background-color: rgb(75, 54, 38);
    background: url(../images/brown-coffee-beans-seed.jpg) center;
    background-attachment: scroll;
    background-size: cover;
}

.landing .text {
    position: relative;
    width: 50vw;
    height: 100vh;
    background: rgba(131, 67, 15, 0.809);
    top: 50vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 25vh;
    padding-left: 100px;
}

.landing .text h2 {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

.landing .text p {
    position: absolute;
    top: 50%;
    width: 30vh;
}


/* Landing End *************************************/


/* media tiny small  *********************************/

@media (min-width:320px) {
    header .container {
        max-width: 95%;
    }

    header .container nav ul {
        margin-right: -10px;

    }

    header .container nav ul li {
        margin-bottom: -1px;

    }

    header .container nav ul hr {
        margin-bottom: 10px;

    }

    header .container nav ul li:first-child {
        margin-top: 20px;
    }
}


/* media very small  *********************************/

@media (max-width:375px) {
    .container {
        --logo-size: 80px;
    }

    header nav li {
        margin-top: 10px;
        margin: 0px;
    }

    header .container nav ul {
        padding: 0;
        max-width: 33%;
    }
}

@media (min-width:375px) {
    .container {
        min-width: 320px;
        max-width: 95%;
        --logo-size: 85px;
    }

    header nav li {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    header .container nav ul hr {
        margin-bottom: 0px;

    }

    header .container nav ul {
        padding: 0;
        max-width: 89%;
        margin-right: -10px;
    }
}

@media (max-width:767px) {
    header .container nav ul {
        max-width: 95%;
        background: center url(../images/bg.jpg) fixed;

        box-shadow: 0px 4px 7px rgba(62, 27, 1, 0.262);
    }

    .landing .text {
        /* مؤقتا........................ */
        display: none;
    }
}

/* media small  min 768 ******************************************/
@media (min-width:768px) {
    .container {
        width: 750px;
        --logo-size: 110px;

    }

    nav ul li a {
        font-size: var(--a-font);
    }

    nav ul hr {
        display: none;
    }
}

/* media medium  min 992 ******************************************/
@media (min-width:992px) {
    .container {
        width: 970px;
        --a-font: 18px;
    }

    nav ul {
        margin-top: 5px;
    }
}

/* media larege  min 1200 ******************************************/
@media (min-width:1200px) {
    .container {
        width: 80%;
        --a-font: 22px;
    }

    nav ul {
        margin-top: 0px;
    }
}

@media (min-width:1920px) {
    .container {
        width: 80%;
        --a-font: 25px;
    }

    nav ul {
        margin-bottom: 1px;
    }
}